academy-client/target/
academy-webservice/target/*.jar
academy-webservice/target/*.war
academy-webservice/target/classes/
academy-webservice/target/generated-sources
academy-webservice/target/generated-test-sources
academy-webservice/target/m2e-wtp
academy-webservice/target/maven-archiver
academy-webservice/target/maven-status
academy-webservice/target/test-classes
academy-webservice/target/academy-web-service-0.0.1-SNAPSHOT/WEB-INF/lib/
academy-webservice/target/academy-web-service-0.0.1-SNAPSHOT/WEB-INF/classes
target/
academy-webservice/.settings
academy-client/.settings
academy-webservice/.classpath
academy-client/.classpath
academy-client/.project
academy-webservice/.project
academy-client/.settings
.DS_Store
